.gradle
build/
classes/
gradle.properties
*.orig
gradle-app.setting
.idea/
*.ipr
*.iws
*.iml
out/
.classpath
.settings
.project
.metadata
bin/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
*~
.repo/
